@font-face {
  font-family: 'Poppins';
  src: url('@/assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 400;
}
  
@font-face {
  font-family: 'Poppins';
  src: url('@/assets/fonts/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 500;
}
  
@font-face {
  font-family: 'Poppins';
  src: url('@/assets/fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: 600;
}
  
@font-face {
  font-family: 'Poppins';
  src: url('@/assets/fonts/Poppins-Thin.ttf') format('truetype');
  font-weight: 700;
}
  